* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 0px;
  background-color: #e8ded2;
  color: #056676;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #a3d2ca;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  background-color: #a3d2ca;
  position: auto;
  width: 100%;
}

.container {
  padding-top: 130px;
}

.title {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  color: #056676;
}
