* {
  /* box-sizing: border-box; */
  /* margin: 0;
  padding: 0; */
  font-family: 'Montserrat', sans-serif;
}

body {
  /* margin: 0;
  padding-top: 0px; */
  background-color: #e8ded2;
  color: #056676;
}

html,
body,
#root {
  height: 100%;
}

main {
  padding-top: 15vh;
  position: relative;
  margin: auto;
  max-width: 1200px;
  min-height: 75vh;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.footer {
  background-color: #a3d2ca;
  height: 10vh;
  width: 100%;
  text-align: center;
}

/* .navbar {
  background-color: #a3d2ca;
  position: auto;
  width: 100%;
} */

/* .container {
  padding-top: 130px;
} */

.title {
  text-align: center;
  margin-left: 30px;
  font-size: 20px;
  color: #056676;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
}

.modal {
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;

  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px 3px;
  margin-bottom: 50%;
  display: flex;
  z-index: 10;
}

.modal .closeButton {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
}

.content {
  /* width: 90%; */
  max-width: calc(100%-60px);
  margin: auto;
  /* display: flex;
  flex-direction: row; */
  text-align: left;

  font-size: small !important;
}

.modalPosters img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  min-width: 100px;
  min-height: 200px;
  float: left;
  object-fit: contain;
  align-self: flex-start;
  margin: 0px;
  margin-right: 10px;
}

.modalInformation {

  flex: 1 1 auto;
}

h3 {
  font-size: large;
}

.movieListButton {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 0.5rem 0.5rem;
  width: 150px;
  font-size: 15px !important;
  cursor: pointer;
  transition: background-color 250ms !important;
  position:relative;
  top: -30px;
  left: 300px;
}

@media screen and (max-width: 960px) {
  .modal {
    max-width: 700px;
    max-height: 700px;
  }
}

@media screen and (max-width: 775px) {
  .modal{
    max-width: 500px;
    max-height: 500px;
  }
  .modal .closeButton{
    right: -0.6rem;
    top: -0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.1rem; 
    font-size: 10px;
    border-radius: 70%;
  }
  .modalPosters img{
    max-width: 150px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;
  }
  h4 {
    font-size:11px;
  }
  
  .movieListButton {
    padding: 0.2rem 0.2rem;
    width: 100px;
    font-size: 11px !important;
    left: 350px;
  }

}

@media screen and (max-width: 400px) {
  .modal {
    max-width: 300px;
    max-height: 400px;
  }
  .modalPosters img{
    max-width: 100px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
  }
  .movieListButton {

    left: 200px;
  }


}
