.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10px;
}

.movie {
  padding: 120px !important;
  padding-bottom: 220px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movies .movie {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: ponter;
}

.movies .poster {
  text-align: left;
  /* grid-column: 1; */
}

.movies .poster img {
  display: block;
  width: 100%;
}

.movies .title {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
