/* .movies {
  display: flex;
  flex-wrap: wrap; */

/* margin: 0px 10px; */

.filter {
  background-color: antiquewhite;
  width: 100%;
  justify-items: center;
  font-size: large;
  padding: 20px;
  display: flex;
}
