/*.button {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 600px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}*/
/*
.button:hover {
  background-color: #056676 !important;
}*/

#searchMovie {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

#searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #056676;
  color: #f2f1f9;
  font-size: 1em;
}

#searchContainer input {
  z-index: 1;
  width: 80%;
  height: 1.5em;
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
}

#searchContainer #buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto 0 auto;
  width: 100%;
}

#searchContainer .sortButton {
  display: inline-flex;
  justify-content: center;
  height: 2em;
  font-size: 1.25em;
  border-radius: 10px;
  line-height: 30px;
  color: #f2f1f9;
  font-weight: 600;
}

#searchContainer .sortButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

#searchField {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  width: 80%;
  height: 40px;
  margin-top: 20px;
  background: #f2f1f9;
  font-size: x-large;
}

#searchField::placeholder {
  color: #056676;
  opacity: 0.5;
}

#searchButton {
  cursor: pointer;
  width: 6em;
  height: 1.5em;
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  color: #056676;
}

.sortButton {
  height: 1em;
  width: 6em;
  line-height: 1em;
}

.sortButton div {
  font-size: 1em;
  line-height: 1em;
}

.sortButton .sortArrow {
  width: 1em;
  font-size: 1em;
  line-height: 1em;
  opacity: 0;
}

.sortButton.active {
  text-decoration: underline;
}

.sortButton.active .sortArrow {
  opacity: 1 !important;
}

.sortButton ::selection {
  background-color: none;
}

.movieListItem {
  height: 9em;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 7em auto;
  padding-bottom: 2px;
  border-bottom: #056676 1px solid;
}

.movieListItem:hover {
  cursor: pointer;
  background-color: #ccc3b9;
}

.movieListItem .poster {
  height: 9em;
  background-size: cover;
  background-position: center;
}

.movieListItem .textInfo {
  display: grid;
  grid-template-rows: auto;
  height: 9em;
}

.movieListItem .textInfo h2 {
  font-size: 1.25em;
  padding: 0;
  margin-top: 10px;
  row-gap: 20px;
}

.movieListItem .textInfo .infoRow {
  width: auto;
  height: 1.5em;
  margin: 0px 2em 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.infoRow .infoAttr {
  height: 1.25em;
  line-height: 1.25em;
}
.infoRow .infoAttr span {
  font-size: 1.25em;
  vertical-align: middle;
}

.infoRow .material-icons {
  font-size: 1.25em !important;
}

@media screen and (max-width: 1000px) {
  #searchMovie {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  #searchMovie {
    width: 500px;
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  #searchMovie {
    width: 400px;
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  #searchMovie {
    width: 350px;
    font-size: 8px;
  }
  #searchContainer input {
    width: 95%;
  }
}
