/*.button {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 600px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}*/
/*
.button:hover {
  background-color: #056676 !important;
}*/

#searchMovie {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

#searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #056676;
  color: #f2f1f9;
}

#searchContainer input {
  z-index: 1;
  width: auto;
  margin: 10px 30px 20px;
  font-size: 2em;
  text-align: center;
}

#searchContainer #buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 600px;
}

#searchContainer .sortButton {
  display: inline-flex;
  justify-content: center;
  height: 30px;
  font-size: large;
  border-radius: 10px;
  line-height: 30px;
  color: #f2f1f9;
  font-weight: 600;
}

#searchContainer .sortButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

#searchField {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 30rem;
  height: 40px;
  margin-top: 20px;
  background: #f2f1f9;
  font-size: x-large;
}

#searchField::placeholder {
  color: #056676;
  opacity: 0.5;
}

#searchButton {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  color: #056676;
}

.sortButton {
  width: 100px;
}

.sortButton .sortArrow {
  padding-top: 5px;
  font-size: 20px;
  opacity: 0;
}

.sortButton.active {
  text-decoration: underline;
}

.sortButton.active .sortArrow {
  opacity: 1 !important;
}

.sortButton ::selection {
  background-color: none;
}

.movieListItem {
  height: 150px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 6fr;
  border-bottom: #056676 1px solid;
}

.movieListItem:hover {
  cursor: pointer;
  background-color: #ccc3b9;
}

.movieListItem img {
  width: 100px;
}
.movieListItem .textInfo {
  display: grid;
  grid-template-rows: auto;
  height: 150px;
}

.movieListItem .textInfo h2 {
  padding: 0;
  margin-top: 10px;
  row-gap: 20px;
}

.movieListItem .textInfo .infoRow {
  width: auto;
  height: 24px;
  margin: 0px 60px 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.infoRow .infoAttr {
  height: 18px;
  line-height: 18px;
}
.infoRow .infoAttr span {
  font-size: 18px;
  vertical-align: middle;
}

.infoRow .material-icons {
  font-size: 18px !important;
}

@media screen and (max-width: 600px) {
  #searchContainer {
  }
}
