.NavbarItem {
  position: fixed;
  background: #a3d2ca;
  padding-right: auto;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 3;
  margin-bottom: 50px;
}

.navbar-logo1 {
  color: #fff;
  width: 45vw;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
}

.navbar-logo2 {
  display: none;
  color: #fff;
  width: 55vw;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  padding-left: 0;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: cadetblue;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }
  .navbar-logo1 {
    display: none;
  }

  .navbar-logo2 {
    width: 100%;
    margin-left: 0;
    text-align: center;
    display: unset;
    color: #fff;
    justify-self: start;
    cursor: pointer;
    grid-column: 2;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 10vh;
    left: -130%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 0;
  }

  .nav-menu.active {
    background: #a3d2ca;
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 2;
  }

  .nav-links {
    text-align: center;
    padding: 1em 0 1em 0;
    width: 100vw;
    display: table;
  }

  .nav-links:hover {
    background-color: cadetblue;
    border-radius: 0;
  }

  .menu-icon {
    grid-column: 3;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
