.movie {
  height: 120px;
  width: 600px;
  display: inline-grid;
  grid-template-columns: 1fr 4fr;
}

.movie .poster {
  text-align: left;
  grid-column: 1;
}

.movie .poster img {
  width: 200px;
}

.movie .title {
  grid-column: 2;
}
.button {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 200px;

  font-size: 15px !important;
  cursor: pointer;
  transition: background-color 250ms !important;
}

.button:hover {
  background-color: #056676 !important;
}
