.button {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 200px;

  font-size: 15px !important;
  cursor: pointer;
  transition: background-color 250ms !important;
}

.button:hover {
  background-color: #056676 !important;
}

.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 10px;
}

.movies .movieItem {
  padding: 0 2em 1em 2em !important;
  margin: 0.5em !important;
  height: 42em;
  width: 24em;
  text-align: center;
}

.movieItemTitle {
  position: relative;
  display: table;
  margin-left: 0;
  height: 5em;
  width: 100%;
  vertical-align: middle;
}

.movieItemTitle span {
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.movieItem img {
  height: 36em;
  width: 24em;
}

.movieItem:hover {
  cursor: pointer;
  background-color: #ccc3b9;
}

.movieItem:hover span {
  font-weight: bold;
}

.filterButton {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 85px;
  height: 50px;
  margin-top: 30px;
  margin: auto;

  font-size: 13px !important;
  cursor: pointer;
  transition: background-color 100ms !important;
  outline: 0;
}

.filterButton.active {
  background-color: #257a78 !important;
}

.sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filterSlider {
  text-align: center;
  height: 100px;
  width: 40%;
  min-width: 375px;
}

.noUi-handle,
.noUi-touch-area {
  cursor: pointer;
  background-color: #257a78 !important;
}
