.button {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 200px;

  font-size: 15px !important;
  cursor: pointer;
  transition: background-color 250ms !important;
}

.button:hover {
  background-color: #056676 !important;
}

.movieItem {
  padding: 120px !important;
  /* padding-bottom: 200px !important; */
  /* padding-top: 200px !important; */
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: auto !important;
  margin-right: auto !important;
  /* justify-content: center; */
  align-items: center;
}

.movieItems .movieItem {
  width: 33.33%; /* Endre på denne med @media */
  min-width: 200px;
  max-block-size: 200px;
  /* max-width: 50px;
  max-height: 50px; */
  /* padding: 15px; */
  /* margin: 40px; */
  display: flex;
  flex-direction: column;
  cursor: ponter;
}

.movieItems .poster {
  text-align: center;
  position: center;
  max-width: 200px;
  max-height: 300px;
  /* max-width: 200px;
  max-height: 230px; */
  /* max-width: 200px;
  max-height: 230px; */
  /* grid-column: 1; */
}

.movieItems .poster img {
  display: block;
  width: 100%;
  height: 100%;
}

.movieItems .title {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.button1 {
  background-color: #5eaaa8 !important;
  color: white;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 1rem 1rem;
  width: 85px;
  height: 50px;
  margin-top: 30px;
  margin: auto;

  font-size: 13px !important;
  cursor: pointer;
  transition: background-color 250ms !important;
}
