
.movies h3 {
  text-align: center;
}

.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 10px;
}

.movieItem {
  padding: 0 2em 1em 2em !important;
  margin: 0.5em !important;
  height: 42em;
  width: 24em;
  text-align: center;
}

.movieItemTitle {
  position: relative;
  display: table;
  margin-left: 0;
  height: 5em;
  width: 100%;
  vertical-align: middle;
}

.movieItemTitle span {
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.movieItem img {
  height: 36em;
  width: 24em;
}

.movieItem:hover {
  cursor: pointer;
  background-color: #ccc3b9;
}

.movieItem:hover span {
  font-weight: bold;
}
